* {
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}
#root {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(
      270deg,
      rgba(256, 256, 256, 0.7),
      rgba(256, 256, 256, 0.7)
    ),
    fixed url(./images/main-bg.jpg) no-repeat 50% 100%;
}
#root .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
#root .header {
  padding-top: 2rem;
  flex: 0 0 auto;
}
#root .main {
  flex: 1 0 auto;
}
#root .footer {
  margin-top: 2rem;
  flex: 0 0 auto;
}
